<html ng-app="chooser">
<head>
    <meta charset="utf-8">
    <title>Chooser</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stats2.css">
    <link rel="stylesheet" type="text/css" href="http://angular-ui.github.io/ui-select/dist/select.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/ui-select/dist/select.js"></script>
    <script src="/js/chooser.js"></script>
    <style>
        /* bootstrap capitalises selected geeks, turn that off */
        .btn {
            text-transform: none;
        }
        #config {
            float: right;
        }
        #games {
            width: 300px;
        }
        #result {
            width: 300px;
        }
        #columns {
            background-color: transparent;
        }
        #playersSelect {
            width: 300px;
        }
    </style>
</head>
<body>
<div ng-controller="ChooserCtrl as ctrl">
    <table>
        <tr id="columns">
            <td>
                <div id="games">
                    <H2>Games</H2>
                    <table>
                        <tr ng-repeat="game in ctrl.baseGames | orderBy:'name'">
                            <TD><A HREf="https://boardgamegeek.com/boardgame/{{game.bggid}}">{{game.name}}</A></TD>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="result">
                    <H2>Result</H2>
                    <table>
                    </table>
                </div>
            </td>
            <td>
                <div id="config">
                    <H3>Collection</H3>
                    <!-- Choose the base set of games -->
                    <select
                            id="baseSelect"
                            ng-init="ctrl.baseOption = ctrl.baseOptions[0]"
                            ng-model="ctrl.baseOption"
                            ng-options="option.name for option in ctrl.baseOptions"
                            title="Set of games to choose from">
                    </select>

                    <h3>Players</h3>
                    <!-- Select some players -->
                    <ui-select id="playersSelect" multiple ng-model="ctrl.players" theme="bootstrap" close-on-select="true" title="Players who will play">
                        <ui-select-match placeholder="Select players...">{{$item.username}}</ui-select-match>
                        <ui-select-choices repeat="geek in ctrl.geeks | filter:$select.search">
                            {{geek.username}}
                        </ui-select-choices>
                    </ui-select>
                    <!-- TODO: number of players -->

                    <H3>Criteria</H3>
                    <!-- Choose the evaluation function -->
                    <select
                            id="evalSelect"
                            ng-init="ctrl.evaluationFunction = ctrl.evaluationOptions[0]"
                            ng-model="ctrl.evaluationFunction"
                            ng-options="option.name for option in ctrl.evaluationOptions"
                            title="Evaluation criteria">
                    </select>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>