<html ng-app="chooser">
<head>
    <meta charset="utf-8">
    <title>Chooser</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stats2.css">
    <link rel="stylesheet" type="text/css" href="/css/chooser.css">
    <link rel="stylesheet" type="text/css" href="https://angular-ui.github.io/ui-select/dist/select.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/ui-select/dist/select.js"></script>
    <script src="/js/chooser.js"></script>
</head>
<body>
<div id="chooser" ng-controller="ChooserCtrl as ctrl">
    <H1>What Should We Play?</H1>
    <table class="columns">
        <tr>
            <td>
                <div class="gamelist">
                    <div class="header">
                        <H2>Available Games</H2>
                        Showing {{ctrl.baseGames.length}} of {{ctrl.baseGameCount}}...
                    </div>
                    <table>
                        <tbody>
                        <tr ng-repeat="game in ctrl.baseGames | orderBy:'name'">
                            <TD><A HREf="https://boardgamegeek.com/boardgame/{{game.bggid}}">{{game.name}}</A>
                                <div class="commentary">
                                    <b>Owned by:</b> <p class="word" ng-repeat="geek in game.geeks | filter: owned">{{geek.geek}} </p><br>
                                </div>
                            </TD>
                            </TD>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="gamelist">
                    <div class="header">
                        <H2>What You Should Play</H2>
                        Showing {{ctrl.bestGames.length}} of {{ctrl.bestGameCount}}...
                    </div>
                    <table>
                        <tbody>
                        <tr ng-repeat="game in ctrl.bestGames">
                            <TD><A HREf="https://boardgamegeek.com/boardgame/{{game.bggid}}">{{game.name}}</A>
                                <div class="commentary">
                                    <b>Owned by:</b> <p class="word" ng-repeat="geek in game.geeks | filter: owned">{{geek.geek}} </p><br>
                                    <b>Ratings:</b> <p class="word" ng-repeat="geek in game.geeks | filter: validRating">{{geek.geek}} {{geek.rating}} </p><br>
                                    <b>Want to play:</b> <p class="word" ng-repeat="geek in game.geeks | filter: wanttoplay">{{geek.geek}} </p><br>
                                    <b>Want to buy:</b> <p class="word" ng-repeat="geek in game.geeks | filter: wanttobuy">{{geek.geek}} </p><br>
                                    <b>Want in trade:</b> <p class="word" ng-repeat="geek in game.geeks | filter: want">{{geek.geek}} </p><br>
                                    <b>Plays:</b> <p class="word" ng-repeat="(geek, plays) in game.plays">{{geek}} {{plays}} </p>
                                </div>
                            </TD>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="config">
                <div>
                    <H3>Collection</H3>
                    <!-- Choose the base set of games -->
                    <select
                            id="baseSelect"
                            ng-init="ctrl.baseOption = ctrl.baseOptions[0]"
                            ng-model="ctrl.baseOption"
                            ng-options="option.name for option in ctrl.baseOptions"
                            title="Set of games to choose from">
                    </select>

                    <h3>Players</h3>
                    <!-- Select some players -->
                    <ui-select id="playersSelect" multiple ng-model="ctrl.players" theme="bootstrap" close-on-select="true" title="Players who will play">
                        <ui-select-match placeholder="Select players...">{{$item.username}}</ui-select-match>
                        <ui-select-choices repeat="geek in ctrl.geeks | filter:$select.search">
                            {{geek.username}}
                        </ui-select-choices>
                    </ui-select>
                    <P></P>
                    <label>Player Count:
                        <input type="number" name="input" ng-model="ctrl.numPlayers" min="1" max="12" required>
                    </label>

                    <H3>Criteria</H3>
                    <!-- Choose the evaluation function -->
                    <select
                            id="evalSelect"
                            ng-init="ctrl.evaluationFunction = ctrl.evaluationOptions[0]"
                            ng-model="ctrl.evaluationFunction"
                            ng-options="option.name for option in ctrl.evaluationOptions"
                            title="Evaluation criteria">
                    </select>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>