/* bootstrap capitalises selected geeks, turn that off */
.btn {
    text-transform: none;
}

#chooser h1 {
    padding-left: 80px;
    padding-top: 40px;
    color:#592C16;
}

table.columns td {
    padding-left: 80px;
    padding-right: 40px;
    padding-top: 40px;
}

table.columns td.config {
    padding-left: 40px;
    padding-right: 0px;
    float: right;
}

div.gamelist table {
    height:800px;
    max-height:800px;
    overflow:auto;
    padding-bottom:3px;
    display: block;
}

div.gamelist table a:link {color: #CC6633;}
div.gamelist table a:visited {color: #CC6633;}
div.gamelist table a:hover {color: #999966;}
div.gamelist table a:active {color: #CC6633;}
div.gamelist table a:focus{color: #CC6633;}

div.gamelist table caption {
    padding: 18px 2px 15px 2px;
    color: #cfcfcf;
    background-color: inherit;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}

div.gamelist table{
    border: 1px solid #D9D9D9;
}
div.gamelist table tr td{
    padding: 6px 9px;
    text-align:left;
    width: 560px;
}

div.gamelist table tbody td{
    border-left: 1px solid #D9D9D9;
}
div.gamelist table tbody tr.odd{
    background-color: #F3F3F3;
}

div.gamelist table tbody tr:hover {
    color: #333333;
    background-color: #E5E5D8;
}

div.gamelist table tbody tr.odd:hover {
    color: #333333;
    background-color: #E5E5D8;
}

div.gamelist table tfoot td, div.gamelist table tfoot th{
    border-top: 1px solid #ccc;
    font-weight:bold;
    color:#592C16;
    padding: 16px 9px;
}

div.gamelist div.header {
    background-color: #E5E5D8;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #D9D9D9;
    font-weight: bold;
    text-align:left;
    padding: 16px 9px;
    color:#592C16;
    border-left: none;
}

#playersSelect {
    width: 300px;
}



