* {font-family: Helvetica Neue, Arial, sans-serif; }

body { background-image: linear-gradient(#ffa 25%, #00f);}

h1, table { text-align: center; }

table {border-collapse: collapse;  width: 80%; margin: 0 auto 5rem;}

th, td { padding: 1.3rem; font-size: 1.1rem; }

td a { color: black; }

th {background: hsla(12, 100%, 40%, 0.5); text-align: center; }

tbody tr {background: hsla(50, 100%, 40%, 0.5); }

tbody tr:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

tbody tr { font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}
