* {font-family: Helvetica Neue, Arial, sans-serif; }

body { background-image: linear-gradient(#ffa 25%, #00f);}

td a { color: black; }

table { width: 80%; }

tbody tr {background: #fff; text-align: left; }
